/* to do detail */
#todo-detail {
  padding: 8px;
  transition: 0.3s;
  border-radius: 4px;
}

/* to do detail hovered */
#todo-detail:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

/* to do detail clicked */
#todo-detail:active {
  background-color: #c4c4c4;
}

/* set max width of all image in detail to 100% */
#todo-detail img {
  max-width: 100%;
}

.bf-container > .bf-content {
  height: 50vh;
  overflow-y: auto;
}
