/* empty profile picture */
#upload-profile-picture-empty {
  width: 100%;
  padding-top: 100%;
  transition: 0.3s;
  border-radius: 2px;
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: solid;
}
#upload-profile-picture-empty:hover {
  cursor: pointer;
  background-color: #d9d9d940;
}
#upload-profile-picture-empty:active {
  cursor: pointer;
  background-color: #d9d9d980;
}

/* empty profile picture text */
#upload-profile-picture-text {
  position: absolute;
  text-align: center;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
}

/* preview profile picture */
#upload-profile-picture-preview {
  opacity: 1;
  width: 100%;
  transition: 0.3s;
  border-radius: 2px;
}
#upload-profile-picture-preview:hover {
  opacity: 0.6;
}
#upload-profile-picture-preview:active {
  opacity: 0.3;
}
#upload-profile-picture-preview:hover,
#upload-profile-picture-preview:active {
  cursor: pointer;
}
