/* recent projects wrapper */
#recent-projects {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-flow: row;
  padding-bottom: 20px;
}

/* project create */
#recent-project-card-create > .ant-card-body {
  height: 100%;
  padding: 0;
}

/* recent project card */
.recent-project-card {
  min-width: 250px;
  /* project card: spacing between card  */
  margin: 0 16px;
}

/* project card: desription */
.recent-project-card p {
  margin-bottom: 0;
}

.recent-project-card > .ant-card-actions > li {
  margin: 0;
}
